.nav_bar{
    position: fixed;
}
.logo_cont{
    background-color: black;
    width: 300px;
}
.logo{
    width: 220px;
    height: 173px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav_li {
    background-color: black;
    width: 300px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.nav_txt{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: white;
    text-decoration: none;
    padding-left: 40px;
}

.content{
    position: absolute;
    margin-left: 300px;
}