/*Top Bar*/
.top_bar{
    position: fixed;
    z-index: 1;
    margin-left: 250px;
    background-color: black;
    width: auto;
    height: 64px;
    left: 0;
    right: 0;
    top: 0;
}

/*Nav Bar*/
.nav_bar{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}
.logo_cont{
    background-color: black;
    width: 250px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: solid rgb(212, 212, 212);
}
.logo{
    display: block;
    width: 185px;
    height: 142px;
    margin-left: auto;
    margin-right: auto;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav_li {
    background-color: black;
    width: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav_txt{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding-left: 40px;
}
.nav_space{
    padding-top: 74.5px;
    padding-bottom: 74.5px;
}

/*Content*/
.content{
    position: absolute;
    margin-left: 250px;
    margin-top: 64px;
}