/*Top Bar*/
.top_bar{
    position: fixed;
    z-index: 1;
    margin-left: 250px;
    background-color: black;
    border-left: solid rgb(212, 212, 212);
    width: auto;
    height: 64px;
    left: 0;
    right: 0;
    top: 0;
}
.title_box{
    position: fixed;
    z-index: 1;
    background-color: rgb(14, 14, 14);
    width: 1625.5px;
    height: 54px;
    margin-left: 250px;
    margin-top: 64px;
    border-left: solid rgb(212, 212, 212);
    border-top: solid rgb(212, 212, 212);
    left: 0;
    top: 0;
}
.title_box p{
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin: 6px;
}
.search{
    width: 600px;
    height: 30px;
    margin-left: 25%;
    margin-top: 14px;
}

/*Nav Bar*/
.nav_bar{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}
.logo_cont{
    background-color: black;
    width: 250px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: solid rgb(212, 212, 212);
}
.logo{
    display: block;
    width: 185px;
    height: 142px;
    margin-left: auto;
    margin-right: auto;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav_li li{
    background-color: black;
    width: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav_txt{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding-left: 40px;
}
.nav_li li:hover{
    background-color: white;
}
.nav_li li:hover a{
    color: black;
}
.gap{
    height: 100vh;
    pointer-events: none;
}

/*Content*/
.content{
    position: absolute;
    margin-left: 250px;
    margin-top: 64px;
}

/*Responsiv*/
@media screen and (max-width: 1300px) {
    .search{width: 40%;}

}
@media screen and (max-width: 800px) {
    .search{width: 40%;}
}