.sett_switch{
    height: 60px;
    width: 1000px;
    margin-left: 250px;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
}
.acc, .web{
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.acc:hover, .web:hover{
    background-color: white;
    color: black;
}
/*
.acc, .web{
    margin-left: 250px;
}
*/
.acc, .web{
    background-color: black;
    height: 60px;
    width: 500px;
    float: left;
}